body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header{
    background-color: blue;
    color: white;
    padding: 1rem;
}
nav a :hover{
    color: white;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}
.hero img{
    border-radius: 300px;
}
.intro{
    color: rgb(255, 255, 255);
}
.intro a{
    background-color: blue;
    color: white;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 1rem;
}
.skill {
    background-color: gray;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
.projects-card{
    background-color: blue;
    padding: 1rem;
    border-left: 18px;
    border-radius: 20px;
    margin-top: 1rem;
}
